:root{
    --theme:#308e46;
    animation-name: swip-swop-theme;
    animation-duration: 25s;
    animation-delay: 10s;
    animation-iteration-count: 4;
}
body{
    font-family: 'Open Sans', sans-serif;
    height:4000px;
}
.bg-theme{
    background-color:var(--theme);
}
.bg-grey{
    background-color: rgb(218, 221, 218);
}
.btn-theme{
    background-color:var(--theme);
}
.text-theme{
    color:var(--theme);
}
.text-grey{
    color: rgb(112, 109, 109);
}
header{
    align-items: center;
    padding: 10px;
}
.large{
    font-size: larger;
}
.form{
    width: 90%;
    margin: auto;
}
.customer-img{
    height: 5rem;
    width: 5rem;   
}
.form-section{
    object-fit: cover;
    background-image:url(https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg);
}
.check-text{
    font-size: 8pt;
}
.form-text-area{
    border-left:6px solid var(--theme);
    margin-left: 8rem;
    margin-top: 5rem;
}
.cta-card{
    position: absolute;
    font-size: 16pt;
}
@media screen and (max-width: 576px) {
    .cta-card {
        position: relative;
        margin:auto;
        font-size: 10pt;
    }
}
.content-writing{
    margin-top: 15rem;
    margin-right: 7rem;
}
@media screen and (max-width: 576px) {
    .content-writing {
        margin:auto;
    }
}
@keyframes swip-swop-background{
    from{background-color:#308e46 ;}
    to{background-color: hotpink;}
}
@keyframes swip-swop-text{
    from{color:#308e46 ;}
    to{color: hotpink;}
}
@keyframes swip-swop-theme{
    from{--theme:#308e46 ;}
    to{--theme: hotpink;}
}
.green-box{
    height: 1.5rem;
    width: 80%;
    margin: auto;
    background-color:var(--theme);
}
.btn-right{
    text-align: right;
}